<!-- FOOTER -->
<footer class="footer">
    <div class="col">
        <h3>EduQuiz</h3>
        <p>
            Nơi mang đến trải nghiệm học tập và kiểm tra hiệu quả.
            Tại EduQuiz, chúng tôi tin rằng mỗi câu hỏi là một bước tiến trong việc
            nâng cao kiến thức và kỹ năng.
        </p>
    </div>

    <div class="col">
        <h3>Liên hệ</h3>
        <p>📍 123 Lê Lợi, Quận 1, TP. Hồ Chí Minh</p>
        <p>📞 0123 456 789</p>
        <p>📧 support@eduquiz.com</p>
        <p>⏰ 8:00 – 22:00 hàng ngày</p>
    </div>

    <div class="col">
        <h3>Hỗ trợ & Chính sách</h3>
        <a href="#">Chính sách bảo mật</a><br>
        <a href="#">Điều khoản sử dụng</a><br>
        <a href="#">Hướng dẫn học & làm bài</a>
    </div>
</footer>
<div class="footer-bottom">
    © 2025 Quiz Hub. Thiết kế bởi Quiz Hub Team.
</div>

