<header class="header">
    <a href="/">
        <div class="logo">EduQuiz</div>
    </a>

    <nav class="nav">
        <a href="/TinhNang">Tính năng</a>
        <a href="/chinh-sach">Chính sách</a>
        <a href="/tin-tuc">Tin Tức</a>
        <a href="/lien-he">Liên hệ</a>
    </nav>

    <div class="auth">
        <a href="/auth">
            <button class="login-btn">
                <span class="icon">👤</span>
                Đăng nhập
            </button>
        </a>
    </div>
</header>

