<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login/Sign up Form with Flip effect</title>
    <link rel="stylesheet" href="/css/auth.css">  <!-- Đường dẫn CSS -->
</head>

<body>

<div id="container">
    <div class="login">
        <div class="content">
            <h1>Log In</h1>
            <form>
                <input type="email" placeholder="email" required>
                <input type="password" placeholder="password" required>
                <span class="remember">Remember me</span>
                <span class="forget">Forgot password?</span>
                <span class="clearfix"></span>
                <button type="submit">Log In</button>
            </form>
            <span class="loginwith">Or Connect with</span>
            <a href="https://www.facebook.com/emin.qasimovdia">Facebook</a>
            <a href="https://www.twitter.com/webkoder">Twitter</a>
            <a href="https://www.github.com/eminqasimov">GitHub</a>
            <a href="#">LinkedIn</a>
            <span class="copy">&copy 2019</span>
        </div>
    </div>
    <div class="page front">
        <div class="content">
            <h1>Hello, friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button type="button" id="register">Register</button>
        </div>
    </div>
    <div class="page back">
        <div class="content">
            <h1>Welcome Back!</h1>
            <p>To keep connected with us please login with your personal info</p>
            <button type="button" id="login">Log In</button>
        </div>
    </div>
    <div class="register">
        <div class="content">
            <h1>Sign Up</h1>
            <form>
                <input type="text" placeholder="name" required>
                <input type="email" placeholder="email" required>
                <input type="password" placeholder="password" required>
                <span class="remember">I accept terms</span>
                <span class="clearfix"></span>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

<a href="/index" target="_blank" class="version">EduQuiz</a>
<script src="/js/script.js"></script>  <!-- Đường dẫn JS -->
</body>

</html>