<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EduQuiz - Ứng dựng quản lý, Thi trắc nghiệm</title>
</head>
<body>
    <a href="/" style="text-decoration: none; color: inherit;">
        <h1>
            EduQuiz
        </h1>
    </a>

    <div class="MuiGrid-root ChooseAccountType_Title__26w5P MuiGrid-container MuiGrid-justify-content-xs-center">
        <p class="MuiTypography-root MuiTypography-body1">Bạn tham gia
            <span>
                EduQuiz
            </span> với hình thức nào?
        </p>
    </div>

    <button class="MuiButtonBase-root MuiButton-root MuiButton-text ChooseAccountType_ButtonItem__3bXSN" tabindex="0" type="button">
        <span class="MuiButton-label">
            <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-wrap-xs-nowrap MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <img src="./img/student-image.svg">
                <p class="MuiTypography-root MuiTypography-body1">
                    Học viên tham gia làm bài trắc nghiệm
                </p>
            </div>
        </span>
        <span class="MuiTouchRipple-root">

        </span>
    </button>

    <button class="MuiButtonBase-root MuiButton-root MuiButton-text ChooseAccountType_ButtonItem__3bXSN" tabindex="0" type="button">
        <span class="MuiButton-label">
            <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column MuiGrid-wrap-xs-nowrap MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <img src="./img/management-image.svg">
                <p class="MuiTypography-root MuiTypography-body1">
                    Tạo và quản lý bài trắc nghiệm online
                </p>
            </div>
        </span>
        <span class="MuiTouchRipple-root">

        </span>
    </button>

</body>
</html>